body {
	background-color: #808080; position: relative; width: 100%; height: 100%;
	font-size: 16px; font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
	-webkit-font-smoothing: antialiased;
}
form {
	position: relative; display: block; height: auto; margin: auto; padding: auto;
	width: 100%; box-sizing: border-box; 
	font-family: 'Comics Sans', sans-serif;
	label {
		margin: 0 0 12px; display: block;
		font-size: 1.25em; color: #FFF; font-weight: 700; font-family: inherit;
	}
	input[type='email'] {
		display: block; margin: 0; padding: 1.125em 1.125em 1.25em;
		background-color: #FFF; border: solid 2px #FFF; border-radius: 4px; -webkit-appearance: none;
		box-sizing: border-box;
		width: 100%; height: 3.5em;
		font-size: 1.25em; color: #353538; font-weight: 600; font-family: inherit;
		transition: box-shadow .2s linear, border-color .25s ease-out;
	}
	input[type='']:focus {
		outline: none;
		box-shadow: 0px 2px 10px rgba(0,0,0,.2);
		border: solid 2px #98dcff;
	}
	
	.field1 {
		border: solid 1px black; border: none;
		margin: 0 0 1.5em; padding: 0 0 1.5em; position: relative;
		input[type='Firstname'] {
			padding: 1.125em 1.125em 1.25em;
		}
		.helper {
			position: absolute; z-index: 1;
			font-family: inherit;
		}
		.helper1 {
			left: 1.25em; top: 4.50em;
			color: #b8b8c1; font-size: 1.25em; font-weight: 600; opacity: 1;
			pointer-events: none;
			transition: opacity .1s linear;}
		}
	}
	.field2 {
		border: solid 1px black; border: none;
		margin: 0 0 1.5em; padding: 0 0 1.5em; position: relative;
    input[type='Lastname'] {
			padding: 1.125em 1.125em 1.25em;
		}
		.helper {
			position: absolute; z-index: 1;
			font-family: inherit;
		}
		.helper1 {
			left: 1.25em; top: 4.50em;
			color: #b8b8c1; font-size: 1.25em; font-weight: 600; opacity: 1;
			pointer-events: none;
			transition: opacity .1s linear;}
	}
	.field3 {
		border: solid 1px black; border: none;
		margin: 0 0 1.5em; padding: 0 0 1.5em; position: relative;
		input[type='Phone'] {
			display: block; margin: 0; padding: 0em 1.125em 1.25em;
			height: 3.5em;
		}
		.helper {
			position: absolute; z-index: 1;
			font-family: inherit;
		}
		.helper1 {
			top: 0; left: 0;
			transform: translate(1.25em, 4.50em) scale(1); transform-origin: 0 0;
			color: #b8b8c1; font-size: 1.25em; font-weight: 600; opacity: 1;
			pointer-events: none;
			transition: transform .2s ease-out;
		}

		&.focusWithText {
			.helper1 {
				transform: translate(1.25em, 3.75em) scale(.7);
			}
		}
	}
	.field4 {
		border: solid 1px black; border: none;
		margin: 0 0 0; padding: 0 0 1.5em; position: relative;
		input[type='Address1'] {
			display: block; margin: 0; padding: 1.125em 1.125em 0em;
			height: 3.5em;
		}
		.helper {
			position: absolute; z-index: 1;
			font-family: inherit;
		}
		.helper1 {
			top: 0; left: 0;
			transform: translate(1.25em, 4.50em) scale(1); transform-origin: 0 0;
			color: #b8b8c1; font-size: 1.25em; font-weight: 600; opacity: 1;
			pointer-events: none;
			transition: transform .2s ease-out;
		}

		&.focusWithText {
			.helper1 {
				transform: translate(1.25em, 2.25em) scale(.7);
			}
		}
    .field4 {
		border: solid 1px black; border: none;
		margin: 0 0 0; padding: 0 0 1.5em; position: relative;
		input[type='Address2'] {
			display: block; margin: 0; padding: 1.125em 1.125em 0em;
			height: 3.5em;
		}
		.helper {
			position: absolute; z-index: 1;
			font-family: inherit;
		}
		.helper1 {
			top: 0; left: 0;
			transform: translate(1.25em, 4.50; font-weight: 600; opacity: 1;
			pointer-events: none;
			transition: transform .2s ease-out;
		}

		&.focusWithText {
			.helper1 {
				transform: translate(1.25em, 2.25em) scale(.7);
			}
		}
      .field4 {
		border: solid 1px black; border: none;
		margin: 0 0 0; padding: 0 0 1.5em; position: relative;
		input[type='Email'] {
			display: block; margin: 0; padding: 1.125em 1.125em 0em;
			height: 3.5em;
		}
		.helper {
			position: absolute; z-index: 1;
			font-family: inherit;
		}
		.helper1 {
			top: 0; left: 0;
			transform: translate(1.25em, 4.50em) scale(1); transform-origin: 0 0;
			color: #b8b8c1; font-size: 1.25em; font-weight: 600; opacity: 1;
			pointer-events: none;
			transition: transform .2s ease-out;
		}

		&.focusWithText {
			.helper1 {
				transform: translate(1.25em, 2.25em) scale(.7);
			}
		}
	}
}
